# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Platformer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\June\Documents\CSUMB\CST326 - Game Dev\Platformer\.idea\.idea.Platformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
